<div class="login-container">
    <img src="../../assets/logo-no-background.png" alt="Company Logo" class="logo">
    <h2>Login</h2>
    <form action="#" method="post"> <!-- Replace "#" with your login endpoint -->
        <div class="form-group">
            <label for="username">Email</label>
            <input type="text" id="username" name="username" required>
        </div>
       
        <button type="submit">Send reset instructions</button>
    </form>
    <div class="options">
        <div>Already have an account? <a href="/login" class="signup">Login In</a></div>
        <br>
        <div>Don't have an account? <a href="/sign-up" class="signup">Create an account</a></div>
         
    </div>
</div>
